spring.datasource.url=jdbc:postgresql://esocial-db/postgres
spring.datasource.username=postgres
spring.datasource.password=esocial
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

esocialjt.arquivoCertificado=/config/esocial.pfx
esocialjt.senhaCertificado=changeit

esocialjt.proxyServer=proxy.server.rede
esocialjt.proxyPort=3128
esocialjt.proxyUser=usuario
esocialjt.proxyPassword=senha